/* BootstrapCDN  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"); 
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global CSS */
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.bg-dark {
    background-color: #252525 !important;
}
p{
	font-size: 16px;
}
.form-control:focus{
	box-shadow: none;
}
/* Button */
.btn-primary {
    color: #fff;
    background-color: #d8232a;
    border-color: #d8232a;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d32b32;
    border-color: #d32b32;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d32b32;
    border-color: #d32b32;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #d32b32;
    border-color: #d32b32;
    box-shadow: none;
}

.text-primary{
	color: #d8232a !important;
}

a.text-primary:focus, a.text-primary:hover{
	color: #d8232a !important;
}

.btn-info.focus, .btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus, 
.btn-info:not(:disabled):not(.disabled):active:focus, 
.show>.btn-info.dropdown-toggle:focus{
	box-shadow: none;
}



/* Main Menu */
.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .btn-primary{
	color: #ffffff;
}

.navbar{
	padding: 5px 0px;
}

.navbar-brand{
	padding: 0;
	margin-top: 3px;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover{
	color: #333;
}

.navbar-expand-md .navbar-nav .nav-link{
	padding: 0;
}

.navbar-expand-md .navbar-nav .nav-item:not(:last-child) {
    margin-right: 35px;
    line-height: 38px;
}

.navbar-expand-md .navbar-nav .btn-primary{
	padding: .375rem .75rem;
}

.navbar-expand-md .navbar-nav .btn-primary:hover{
	color: #ffffff;
}

.navbar-nav{
	margin-top: 5px;
}

.navbar .dropdown-item{
	font-size: 15px;
}

.navbar .dropdown-item.active, 
.navbar .dropdown-item:active{
	background-color: #ffffff;
}

.navbar .dropdown-toggle::after{
	position: relative;
    top: 2px;
}


/* Footer */
footer{
	margin-top: 45px;
	padding: 50px 0px;
}
footer{
	color: #ffffff;
}
footer p{
	font-size: 15px;
	line-height: 25px;
}
.widget-footer-about img{
	margin-bottom: 15px;
}
.widget-footer h2{
	font-size: 18px;
	margin-bottom: 30px;
}
.widget-footer a{
	font-size: 15px;
	color: #ababab;
}
.widget-footer a:hover{
	color: #ffffff;
	text-decoration: none;
}
footer .list-unstyled li{
	margin-bottom: 10px;
}
.copyright{
	margin-top: 45px;
}
.copyright p{
	font-size: 16px;
	color: #ababab;
	margin-bottom: 0;
	text-align: center;
}
footer .list-inline-item:not(:last-child){
    margin-right:25px;
}
footer .list-inline svg{
	font-size: 24px;
}
/* Page Header */
.page-header{
	padding: 30px 0px;
}

.page-header h2{
	font-weight: 700;
}

.page-header a:hover{
	text-decoration: none;
}

.wrapper{
	margin: 80px 0px;
}


.login-card h2{
	font-size: 24px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
}

.login-card .card-body{
	padding: 25px 50px 50px;
	border-top: 1px solid #efefef;
}

.login-card .form-control{
	height: 45px;
	border-radius: 0px;
}

.login-card .btn{margin-top: 15px; padding: 10px 35px; font-weight: 600;}

.login-card .form-control{
	box-shadow: none;
}

.login-card .form-group{
	margin-bottom: 25px;
}

.faqs{
	padding: 60px 0px;
}

.collapsible-link {
	width: 100%;
	position: relative;
	text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
   
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f078';
     font-size: 16px;
}

.card-header .title {
    font-size: 17px;
    color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
}
.card{
  border: 1px solid #ddd;
}
.card-body{
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}

.faqs h2{margin-bottom: 45px;}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #333;
}

.project-lists{
	margin: 60px 0px;
}

.project-lists .card-header p{
	font-size: 17px;
}

.project-lists .card-header p span{
	font-weight: 400;
	color: #9b9b9b;
	font-size: 14px;
}

.project-lists .card-body h2{
	font-size: 18px;
	margin-top: 10px;
}

.project-lists .card-body p{
	margin-bottom: 20px;
	font-weight: 500;
	color: #9b9b9b;
	font-size: 14px;
	margin-top: 5px;
}

.project-lists .col-lg-4{
	margin-bottom: 25px;
}

#sync2{
	margin-top: 15px;
}

.project-details-top{
	margin-top: 25px;
	padding: 35px;
}

.project-details-top .map{
	font-weight: 300;
	color: #696969;
}

.project-details-top h2{
	font-weight: 800;
	margin-bottom: 15px;
}

.meesage-investors{
	margin-top: 30px;
	text-align: center;
}

.project-details-top span{
	color: #696969;
	font-weight: 600;
}

.project-details-top .des{margin-top: 20px;}

.project-details-top .table{
	margin-top: 20px;
}

.property-gallery-heading{margin-top: 25px;}

.property-gallery-heading h2{font-size: 26px; margin-bottom: 20px;}

.property-gallery .col-md-4{
	margin-bottom: 25px;
}

video{
	max-width: 100%;
	height: auto;
}

.content-wrapper{
	padding: 60px 0px;
}

.card-img-bottom{
	padding: 15px;
	border-top: 1px solid #ddd;
}

.card-img-bottom .btn-block{
	padding-top: 10px;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 10px;
}

.project-create{
	padding: 60px 0px;
}

.project-create .card{
	padding:40px;
}

.project-create label{
	font-size: 16px;	
	font-weight: 500;
	color: #000000;
	margin-bottom:15;
}

.project-create .form-control{
	height: 45px;
	border-radius: 0px;
}

.project-create .form-group{margin: 0px; padding-bottom: 25px; padding-top: 25px; border-bottom: 1px solid #f1f1f1;}

.uploaded-images .row{
	margin-top: 25px;
}

.project-create .card{
	border: 2px solid #0ec6d5;
}

.delete-project .modal-body{
	text-align: center;
	font-size: 18px;
	padding: 35px 0px;
	color: #000000;
	font-weight: 500;
}

.uploaded-images button{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
}

.project-create .or{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
}

.create-new-project{
	text-align: right;
	padding-top: 20px;
}

.add-update-title{
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.add-update-title h2{
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 700;
}

.confirm-changes{margin-top: 25px; text-align: center;}

.admin-acount h2{font-weight: 700; margin-top: 0; font-size: 30px; border-bottom: 1px solid #f1f1f1; padding-bottom: 15px; margin-bottom: 25px;}

.admin-acount h3{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 30px;
}

.admin-acount hr{margin: 30px 0px;}

.admin-acount a{
	color: #212529;
}

.admin-acount a:hover{
	text-decoration: none;
}

/* Banner */
.banner{
	padding: 50px 0px 0px;
}

.banner h2{
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 15px;
}

.banner h3{
	font-size: 32px;
	margin-bottom: 25px;
} 

.banner .btn{
	padding: 8px 30px;
	font-size: 20px;
}

.how-it-work{padding-bottom: 40px;}

.project-lists-header h2{
	font-size: 36px;
	font-weight: 700;
}

.project-lists-header hr{
	border: 3px solid #d8232a;
	border-radius: 3px;
	margin-bottom: 35px;
	max-width: 50px;
	margin-left: 0px;
}

.feature-box{
	padding: 30px 0px 50px;
}

.feature-box h2{
	font-size: 30px;
	line-height: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.feature-box p{
	font-size: 16px;
	line-height: 24px;
}

.feature-box-l{
	padding-top: 45px;
	padding-left: 35px;
}

.feature-box-r{
	padding-top: 45px;
	padding-right: 35px;
}

.project-lists.bg-light{
	padding: 70px 0px;
}

.project-lists-header{
	margin-bottom: 25px;
}

.cta{
	background: #00a3a7;
	padding: 60px 0px;
	text-align: center;
}

.cta h2{color: #fff; font-weight: 700; font-size: 36px; margin-bottom: 25px;}

.cta .btn{
	padding: 12px 35px;
	font-weight: 600;
	margin-top: 5px;
	font-size: 18px;	
}

.investor-work h3{
	margin-bottom: 20px;
	font-weight: 700;
}

.investor-work p, .phase p{
	font-size: 16px;
	line-height: 30px;
}

.investor-work{
	padding-bottom: 35px;
}

.phase{padding-bottom: 30px;}

.phase h3{
	padding:5px 0px;
	margin-bottom: 15px;
}


.phase h3 span{
	font-size: 26px;
	color: #17a2b8;
	margin-right: 15px;
	display: inline-block;
	border-bottom: 2px dotted #d8232a;
}

.about-us .list-unstyled img{
	height: 150px;
}

.about-us .media{
	margin-bottom: 25px;
}

.about-us .media-body{
	padding-top: 23px;
	padding-left: 20px;	
}

.about-us .media-body p{font-size: 20px; font-weight: 600; margin-bottom: 0;}

.investor-work p{
	line-height: 32px;
}

.about-us .list-unstyled p{
	font-size: 18px;
	line-height: 30px;
}

.about-us ol li{
	font-size: 16px;
}

.Who-We-Work-With p{
	font-size: 18px;
	line-height: 36px;
}

.Who-We-Work-With ol li{
	font-size: 18px;
	margin-bottom: 20px;
}

.Our-Referral-Program p{
	font-size: 18px;
	line-height: 30px;
}


/* Responsive Media Queries  */

					/* Max Width With Start Point */
/* Extra large devices (Extra large desktops, 1366px and Down) */
@media (max-width: 1365.98px) {}

/* Extra large devices (large desktops, 1200px and Down) */
@media (max-width: 1199.98px) {
	.widget-footer h2{
		font-size: 16px;
		margin-bottom: 30px;
	}
	.widget-footer h2{margin-bottom: 20px;}
	.widget-footer h2{margin-top: 10px;}
	footer .list-unstyled{margin-bottom: 35px;}
	.content-wrapper{padding-bottom: 0px;}
	.banner h2{font-size: 36px;}
	.banner h3{font-size: 26px;}
	.banner .btn{font-size: 18px;}
	.feature-box-l{padding-top: 15px;}
	.feature-box-r{padding-top: 24px;}
	.cta h2{font-size: 30px;}
	.cta .btn{font-size: 16px;}
}

/* Large devices (desktops, 992px and Down) */
@media (max-width: 991.98px) {
	.navbar-expand-md .navbar-nav .nav-item:not(:last-child){
		margin-right: 15px;
	}	
	.wrapper{
		margin: 50px 0px;
	}
	body{
		font-size: 14px;
	}
	p{
		font-size: 14px;
	}
	.project-lists .card-body h2{font-size: 16px;}
	.project-lists-header {
	    margin-bottom: 0;
	}
	.project-lists-header h2{
		font-size: 30px;
	}
	.project-lists.bg-light{
		padding: 40px 0px;
	}
	.feature-box-l{
		padding-left: 0;
		padding-top: 0;
	}
	.feature-box h2{margin-top: 25px;}
	.feature-box{padding-bottom: 0px;}
	.feature-box h2{margin-top: 20px;}
	.project-create .card{padding: 20px;}
	.project-create{padding-bottom: 0px;}
}

/* Medium devices (tablets, 768px and Down) */
@media (max-width: 767.98px) {
	.navbar-expand-md .navbar-nav .nav-item:not(:last-child) {
	    margin-right: 0px;
	}
	.navbar .container{
		max-width: 100%;
	}
	.navbar-brand{
		margin-right: 0px;
		margin-left: 15px;
	}
	.navbar-toggler{
		margin-right: 15px;
	}
	.navbar-expand-md .navbar-nav .nav-link{
		font-size: 14px;
		padding: 3px 0px 3px 15px;
		border-top: 1px solid #ededed;
	}
	.navbar-expand-md .navbar-nav .btn{
		display: block;
		padding: 15px;
		font-weight: 600;	
	}
	.navbar-expand-md .navbar-nav .btn-primary{
		border-radius: 0px;
	}
	.navbar-light .navbar-brand img{
		height: 60px;
	}
	.property-gallery-heading h2{
		font-size: 22px;
	}
	.project-details-top{
		padding: 20px;
	}
	.page-header h2{
		font-size: 24px;
	}
	.project-details-top h2{font-size: 24px;}
	.property-gallery-heading{margin-top: 0px;}
	.property-gallery-heading {
	    margin-top: 0px;
	}
	.project-details-top .table {
	    margin-top: 0px;
	}
	.project-lists-header h2{font-size: 30px;}
	.about-us .list-unstyled p,
	.Our-Referral-Program p{font-size: 16px; line-height: 26px;}
	.investor-work h3{font-size: 24px;}
	.admin-acount h2{font-size: 26px;}
	.uploaded-images .position-relative{margin-bottom: 10px;}
	.project-details-top h2{margin-top: 25px;}
}

/* Small devices (landscape phones, 576px and Down) */
@media (max-width: 575.98px) {
	.login-card .card-body{
		padding: 25px 30px 45px;
	}
	.page-header{
		padding: 25px 0px;
	}
	.page-header h2{
		font-size: 22px;
	}
	.breadcrumb-item a{
		font-size: 14px;
	}
	.about-us .media{
		display: block;
		text-align: center;
	}
	.about-us .media-body{
		padding-top: 10px;
		padding-left: 0px;
	}
	.content-wrapper{padding: 30px 0px;}
	.Our-Referral-Program p {
	    font-size: 16px;
	    line-height: 26px;
	}
	.project-create .btn{
		margin-bottom: 10px;
	}

}


					/* Max Width */
/* Small devices (landscape phones, 480px and down) */
@media (max-width: 480px) {
	.phase h3 span{
		font-size: 28px;
		margin-bottom: 12px;
		display: block;
	}
	.project-lists-header h2{font-size: 24px;}
	.project-lists-header hr{border: 2px solid #d8232a;}
	.investor-work h3 {
	    font-size: 21px;
	}
	.phase h3{font-size: 22px;}
	.Who-We-Work-With p{line-height: 30px;}
	.banner{padding: 25px 0px 0px 0px;}
	.project-lists{margin-top: 25px;}
	.feature-box h2{font-size: 22px; margin-bottom: 10px;}
	.project-lists-header hr{margin-bottom: 15px;}
	.feature-box-r{padding-right: 0px;}
	.feature-box-r{padding-top: 15px;}
	.feature-box h2{margin-top: 15px;}
	.cta h2{font-size: 26px;}
	.cta{padding: 40px 0px;}
}

/* Small devices (landscape phones, 414px and down) */
@media (max-width: 414px) {}

/* Small devices (landscape phones, 384px and down) */
@media (max-width: 384px) {}

/* Small devices (landscape phones, 360px and down) */
@media (max-width: 360px) {}

/* Small devices (landscape phones, 360px and down) */
@media (max-width: 320px) {}

